@{
    ViewData["Title"] = "Sobre Nosotros";
}

<div class="text-center primerDiv d-flex flex-column align-items-center">
    <div class="mensaje">
        <h1 class="display-6 fw-bold">Sobre Nosotros</h1>
    </div>
</div>

<div class="segundoDiv fondo divCatalogo mt-3 text-black paddingBorder">
    <div class="ps-5 pe-5 pt-3 pb-3" style="text-align: justify">
        <div class="text-center">
            <img src="https://i.ibb.co/sbqP05H/logo2.png" alt="Logo" width="400px" height="auto">
        </div>
        <section class="mission">
            <h2>Misión y Visión</h2>
            <p>En WheelWander, nuestra misión es facilitar el acceso a transportes eficientes y seguros para todos en Florencia, Caquetá. Nos esforzamos por ofrecer una plataforma confiable y accesible que conecte a propietarios de motocicletas con aquellos que necesitan alquilarlas de manera temporal, promoviendo la movilidad y la autonomía personal con soluciones económicas y flexibles.
                <br />
                <br />
                Nuestra visión es convertirnos en el líder del mercado de alquiler de motocicletas en Florencia, expandiéndonos a más regiones de Colombia y siendo reconocidos por nuestra contribución a la movilidad sostenible. Aspiramos a innovar constantemente en nuestra plataforma para ofrecer el mejor servicio, facilitando una experiencia segura y eficaz tanto para arrendadores como para arrendatarios, y apoyando el crecimiento económico local mediante soluciones de transporte adaptativas.
            </p>
        </section>
        <br />
        <br />
        <section class="history">
            <h2>Historia</h2>
            <p>No se tiene</p>
        </section>
        <section class="team">
            <h2>Nuestro Equipo</h2>
            <div class="team-members">
                Juan Sebastian Mejia Suaza
                <br />
                Michael Mauricio Orjuela Cepeda
            </div>
        </section>
        
    </div>
</div>