@model ProyectoWheelWander.Models.Data.Empresa;
@{
    ViewData["Title"] = "Sobre Nosotros";
}

<div class="text-center primerDiv d-flex flex-column align-items-center">
    <div class="mensaje">
        <h1 class="display-6 fw-bold">Sobre Nosotros</h1>
    </div>
</div>

<div class="segundoDiv fondo divCatalogo mt-3 text-black paddingBorder">
    <div class="ps-5 pe-5 pt-3 pb-3" style="text-align: justify">
        <div class="text-center">
            <img src="https://i.ibb.co/sbqP05H/logo2.png" alt="Logo" width="400px" height="auto">
        </div>
        <section class="mission">
            <h2>Misión y Visión</h2>
            <p>@Model.Mision
                <br />
                <br />
                @Model.Vision
            </p>
        </section>
        <br />
        <br />
        <section class="history">
            <h2>Historia</h2>
            <p>No se tiene</p>
        </section>
        <section class="team">
            <h2>Nuestro Equipo</h2>
            <div class="team-members">
                @Model.Equipo
            </div>
        </section>
        
    </div>
</div>