@{
    ViewData["Title"] = "Login";
}

<div class="text-center primerDiv">
    <h1 class="display-4">Este es el login</h1>


    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>

<div class="segundoDiv">
</div>