@model ProyectoWheelWander.Models.Data.Reserva
@{
    ViewData["Title"] = "Resumen de la cotización";
}

<div class="text-center primerDiv d-flex flex-column align-items-center">
    <div class="mensaje">
        <h1 class="display-6 fw-bold">Resumen de la cotización</h1>
    </div>
</div>

<div class="fondo" style="width:900px">
    <div class="resumen-contenedor text-black d-flex align-items-center justify-content-center">
        <div class="" style="margin-top:-20px">
            <div class="d-flex align-items-center justify-content-center">
                <p <i class="bi bi-check-circle" style="color: green; font-size:45px"></i></p>
                <div>
                    <p class="fw-bold text-black" style="font-size: 20px">Pago realizado con exito</p>
                </div>
            </div>
        </div>

    </div>

</div>