@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center primerDiv d-flex flex-column align-items-center">
    <div class="mensaje">
        <h1 class="display-6 fw-bold">¡Alquila tu moto ahora!</h1>
    </div>
</div>

<div class="segundoDiv">
    @* Aqui se debe de vincular con la base de datos, en las ubicaciones *@
    <div class="container">
         <form class="formulario">
             <!-- Selector de ubicaciones -->
            <div class="form-group mr-2 form-inicio input-group">
                <select class="form-control forms form-select" id="ubicaciones" name="ubicaciones" required>
                    <option selected>Selecciona tu ubicación</option>
                     <option>Bogota</option>
                     <option>Medellin</option>
                     <option>Florencia, Caquetá</option>
                 </select>
                <span class="input-group-text icono" id="basic-addon1"><i class="bi bi-geo-alt-fill"></i></span>
            </div>

             <!-- Input de fecha de inicio -->
            <div class="form-group input-group mb-2 form-inicio form-fecha">
                <input type="text" class="datepicker_input form-control forms" placeholder="Fecha de inicio" required>
                <span class="icono input-group-text"><i class="bi bi-calendar-date "></i></span>
            </div>

             <!-- Input de hora de inicio -->
            <div class="form-group mr-2 form-inicio">
                <input type="time" class="form-control" id="hora-inicio" name="hora-inicio" placeholder="Hora de inicio" required>
            </div>

             <!-- Input de fecha fin -->
            <div class="form-group input-group mb-2 form-inicio form-fecha">
                <input type="text" class="datepicker_input form-control forms" placeholder="Fecha de finalización" required>
                <span class="icono input-group-text"><i class="bi bi-calendar-date "></i></span>
            </div>

             <!-- Input de hora fin -->
            <div class="form-group mr-2 form-inicio">
                <input type="time" class="form-control" id="hora-fin" name="hora-fin" placeholder="Hora fin" required>
            </div>


             <!-- Botón de buscar -->
            <button type="submit" class="btn buttonSearch form-inicio">Buscar</button>
         </form>
    </div>
</div>


