@model ProyectoWheelWander.Models.ViewModel.CatalogoViewModel

@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center primerDiv d-flex flex-column align-items-center">
    <div class="mensaje">
        <h1 class="display-6 fw-bold">¡Alquila tu moto ahora!</h1>
    </div>
</div>

<div class="segundoDiv">
    <div class="">
        <form class="formulario" method="get" asp-controller="Catalogo" asp-action="FiltrarMotosFecha">
            <div class="form-group mr-2 form-inicio input-group">
                <select class="form-control form-select" style="border: 0px" id="ubicacionId" name="ubicacionId">
                    <option selected>Ubicación</option>
                    @foreach (var ubicacion in Model.ubicaciones)
                    {
                        <option value="@ubicacion.Idubicacion">@ubicacion.NombreUbicacion</option>
                    }
                </select>
                <span class="input-group-text icono"><i class="bi bi-geo-alt-fill"></i></span>
            </div>

            <!-- Input de fecha de inicio -->
            <div class="form-group mr-2 form-inicio input-group form-fecha">
                <input type="date" class="form-control" name="fechaInicio" placeholder="Fecha de inicio" required>
            </div>

            <!-- Input de hora de inicio -->
            <div class="form-group mr-2 form-inicio input-group">
                <input type="time" class="form-control" id="hora-inicio" name="horaInicio" placeholder="Hora de inicio" min="@DateTime.Now.ToString("yyyy-MM-dd")" required>
            </div>

            <!-- Input de fecha fin -->
            <div class="form-group mr-2 form-inicio input-group form-fecha">
                <div class="form-group input-group">
                    <input type="date" class="form-control" name="fechaFin" placeholder="Fecha de finalización" required>
                </div>
            </div>

            <!-- Input de hora fin -->
            <div class="form-group mr-2 form-inicio input-group form-fecha">
                <input type="time" class="form-control" id="hora-fin" name="horaFin" placeholder="Hora fin" min="@DateTime.Now.ToString("yyyy-MM-dd")" required>
            </div>
            <div class="">
                <!-- Botón de buscar -->
                <button type="submit" class="btn buttonSearch">Buscar</button>
            </div>
        </form>
    </div>
</div>

