@{
    ViewData["Title"] = "Cuenta Creada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container fondo mt-5 paddingBorder text-center justify-content-center">

    <div>

        <div class="text-center">
            <img src="https://i.ibb.co/sbqP05H/logo2.png" alt="Logo" width="400px" height="auto">
        </div>

        <p class="smaller-text "><span class="text-black">Su cuenta ha sido creada</span> <span style="color:#ffcc00;">exitosamente</span></p>

        <i class="bi bi-check-circle imaIconos"></i>
        <br />
        <p class="confirmation-text text-black text-center">
            Por favor, confirma su cuenta con el correo electrónico
            de confirmación que ha sido enviado al correo registrado
        </p>
    </div>

</div>
