@model ProyectoWheelWander.Models.Data.Usuario

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Cedula" />
            <div class="form-group">
                <label asp-for="PrimerNombre" class="control-label"></label>
                <input asp-for="PrimerNombre" class="form-control" />
                <span asp-validation-for="PrimerNombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SegundoNombre" class="control-label"></label>
                <input asp-for="SegundoNombre" class="form-control" />
                <span asp-validation-for="SegundoNombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrimerApellido" class="control-label"></label>
                <input asp-for="PrimerApellido" class="form-control" />
                <span asp-validation-for="PrimerApellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SegundoApellido" class="control-label"></label>
                <input asp-for="SegundoApellido" class="form-control" />
                <span asp-validation-for="SegundoApellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contrasena" class="control-label"></label>
                <input asp-for="Contrasena" class="form-control" />
                <span asp-validation-for="Contrasena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Celular" class="control-label"></label>
                <input asp-for="Celular" class="form-control" />
                <span asp-validation-for="Celular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoUsuario" class="control-label"></label>
                <input asp-for="EstadoUsuario" class="form-control" />
                <span asp-validation-for="EstadoUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sexo" class="control-label"></label>
                <input asp-for="Sexo" class="form-control" />
                <span asp-validation-for="Sexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idrol" class="control-label"></label>
                <select asp-for="Idrol" class="form-control" asp-items="ViewBag.Idrol"></select>
                <span asp-validation-for="Idrol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaRegistro" class="control-label"></label>
                <input asp-for="FechaRegistro" class="form-control" />
                <span asp-validation-for="FechaRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FkidtipoDocumento" class="control-label"></label>
                <select asp-for="FkidtipoDocumento" class="form-control" asp-items="ViewBag.FkidtipoDocumento"></select>
                <span asp-validation-for="FkidtipoDocumento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UrlfotoFcedula" class="control-label"></label>
                <input asp-for="UrlfotoFcedula" class="form-control" />
                <span asp-validation-for="UrlfotoFcedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UrlfotoPcedula" class="control-label"></label>
                <input asp-for="UrlfotoPcedula" class="form-control" />
                <span asp-validation-for="UrlfotoPcedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UrlfotoFlicencia" class="control-label"></label>
                <input asp-for="UrlfotoFlicencia" class="form-control" />
                <span asp-validation-for="UrlfotoFlicencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UrlfotoPlicencia" class="control-label"></label>
                <input asp-for="UrlfotoPlicencia" class="form-control" />
                <span asp-validation-for="UrlfotoPlicencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input asp-for="FechaNacimiento" class="form-control" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
