@{
    ViewData["Title"] = "Wheel Wander";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container fondo mt-5 paddingBorder text-center justify-content-center">

    <div>

        <div class="text-center">
            <img src="https://i.ibb.co/sbqP05H/logo2.png" alt="Logo" width="400px" height="auto">
        </div>

        <p class="smaller-text "><span class="text-black">Se ha enviado</span> <span style="color:#ffcc00;">exitosamente</span></p>

        <i class="bi bi-check-circle imaIconos"></i>
        <br />
        <p class="confirmation-text text-black text-center">
            Por favor, revise en su bandeja de entrada o en la carpeta de spam de su correo electrónico, el mensaje que le hemos enviado con la nueva contraseña
        </p>
    </div>

</div>
