@model ProyectoWheelWander.Models.RegisterViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container fondo mt-5">
    <div class="text-center">
        <img src="https://i.ibb.co/sbqP05H/logo2.png" alt="Logo" width="400px" height="auto">
    </div>
    <p class="lead fw-bold text-center">
        <span class="text-black">Información de </span> <span style="color: #F3B61F">Personal</span>
    </p>
    <div class="row justify-content-center">
        <form asp-action="Register" asp-controller="Usuarios"  method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="form-group col-md-3 mb-3">
                    <label asp-for="Usuario.PrimerNombre" class="text-black fw-bold">Primer Nombre</label>
                    <input asp-for="Usuario.PrimerNombre" class="form-control" placeholder="Primer nombre">
                    <span asp-validation-for="Usuario.PrimerNombre" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3 mb-3">
                    <label asp-for="Usuario.SegundoNombre" class="text-black fw-bold">Segundo Nombre</label>
                    <input asp-for="Usuario.SegundoNombre" class="form-control" placeholder="Segundo nombre">
                    <span asp-validation-for="Usuario.SegundoNombre" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3 mb-3">
                    <label asp-for="Usuario.PrimerApellido" class="text-black fw-bold">Primer Apellido</label>
                    <input asp-for="Usuario.PrimerApellido" class="form-control" placeholder="Primer apellido">
                    <span asp-validation-for="Usuario.PrimerApellido" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3 mb-3">
                    <label asp-for="Usuario.SegundoApellido" class="text-black fw-bold">Segundo Apellido</label>
                    <input asp-for="Usuario.SegundoApellido" class="form-control" placeholder="Segundo apellido">
                    <span asp-validation-for="Usuario.SegundoApellido" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-3 mb-3">
                    <label asp-for="FKIDTipoDocumentoSelected" class="text-black fw-bold">Tipo de Documento</label>
                    <select asp-for="FKIDTipoDocumentoSelected" asp-items="@(new SelectList(Model.TiposDocumento, "IDTipoDocumento", "NombreTipoDocumento"))" class="form-select form-control">
                        <option value="">Elegir...</option>
                    </select>
                    <span asp-validation-for="FKIDTipoDocumentoSelected" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3 mb-3">
                    <label asp-for="Usuario.Cedula" class="text-black fw-bold">Número de documento</label>
                    <input asp-for="Usuario.Cedula" type="text" value="" class="form-control" placeholder="Ingrese su documento">
                    <span asp-validation-for="Usuario.Cedula" class="text-danger"></span>
                </div>

                <div class="form-group col-md-3 mb-3">
                    <label asp-for="Usuario.FechaNacimiento" class="text-black fw-bold">Fecha de Nacimiento</label>
                    <input asp-for="Usuario.FechaNacimiento" class="form-control" type="date">
                    <span asp-validation-for="Usuario.FechaNacimiento" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-3 mb-3">
                    <label asp-for="Usuario.Celular" class="text-black fw-bold">Celular</label>
                    <input asp-for="Usuario.Celular" type="text" class="form-control" placeholder="Número de celular">
                    <span asp-validation-for="Usuario.Celular" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label asp-for="Usuario.Email" class="text-black fw-bold">Correo Electrónico</label>
                    <input asp-for="Usuario.Email" type="email" class="form-control" placeholder="you@example.com">
                    <span asp-validation-for="Usuario.Email" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3 mb-3">
                    <label asp-for="Usuario.Contrasena" class="control-label text-black fw-bold">Contraseña</label>
                    <input asp-for="Usuario.Contrasena" type="password" class="form-control text-black" />
                    <span asp-validation-for="Usuario.Contrasena" class="text-danger"></span>
                </div>
            </div>

            <div class="text-center">
                <input type="submit" value="Regisrarse" class="btn buttonNext my-3 w-50 fw-bold">
            </div>
        </form>
    </div>
</div>

<div class="text-center mt-3">
    <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
